<div class="login-page background-image">
  <div class="login-box">
    <div class="login-logo">
      <img src="../../../assets/img/ppra-logo.png" width="100">
      <!-- <a class="ml-2"><b></b></a> -->
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="loginForm" method="post">
          <div class="input-group mb-3">
            <input type="name" class="form-control" formControlName="userName" placeholder="Username"
              [ngClass]="{ 'is-invalid': submitted && f.userName.errors}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <div *ngIf="submitted && f.userName.errors.required" class="invalid-feedback">
              Username is required.
            </div>
            <div *ngIf="submitted && f.userName.errors.minlength">
              Username must be at least 6 characters
            </div>
          </div>
          <div class="input-group mb-3">
            <input  formControlName="password" type="password" class="form-control" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div *ngIf="submitted && f.password.errors.required" class="invalid-feedback">
              Password is required.
            </div>
              <div *ngIf="submitted && f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <label for="remember">

                </label>
              </div>
            </div>
            <div class="col-4">
              <button type="submit" (click)="login()" class="btn btn-primary btn-block">Sign In</button>
            </div>
          </div>
        </form>

        <p class="mb-1">
          <a href="/forgot-password">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="/internal-user-registration" class="text-center">Register a new membership</a>
        </p>
      </div>
    </div>
  </div>
</div>