
<div class="registration d-flex">
  <div class="steps">
    <div class="steps-wrap">
      <ul class="list-unstyled">
        <li class="{{contactInfoClass}}">
          <div class="icons">
            <i class="fas fa-user"></i>
          </div>
          <div class="step-text">
            <span class="small">Step 1</span>
            <strong>Contact Information</strong>
          </div>
        </li>
        <li class="{{addressClass}}">
          <div class="icons">
            <i class="fas fa-map-marker"></i>
          </div>
          <div class="step-text">
            <span class="small">Step 2</span>
            <strong>Address</strong>
          </div>
        </li>
        <li class="{{documentsClass}}">
          <div class="icons">
            <i class="fas fa-file"></i>
          </div>
          <div class="step-text">
            <span class="small">Step 3</span>
            <strong>Documents</strong>
          </div>
        </li>
      </ul>

    </div>
    <div class="progress-main">
      <label>{{progressBar}} Progress</label>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [style.width]="progressBar" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="content">

    <!--Personal Information-->

    <div *ngIf="showPersonalInfoForm">
      <h3>Please provide your personal information</h3>
      <form class="step1" [formGroup]="personalInformation" autocomplete="off">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label class="required">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" placeholder="e.g Usman" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.firstName.errors}">
              <div *ngIf="personalInfoSubmitted && fp.firstName.errors" class="invalid-feedback">
                <div ngClass="fp.firstName.errors.required">
                  first name is required.
                </div>
                <div *ngIf="fp.firstName.errors.minlength">username must be at least 6 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" placeholder="e.g Usman" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.lastName.errors}">
              <div *ngIf="personalInfoSubmitted && fp.lastName.errors" class="invalid-feedback">
                <div ngClass="fp.lastName.errors.required">
                  last name is required.
                </div>
                <div *ngIf="fp.lastName.errors.minlength">last name must be at least 6 characters</div>
              </div>

            </div>

            <div class="form-group">
              <label class="required">Designation</label>
              <input type="text" class="form-control" formControlName="designation" placeholder="e.g Manager" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.designation.errors}">
              <div *ngIf="personalInfoSubmitted && fp.designation.errors" class="invalid-feedback">
                <div ngClass="fp.designation.errors.required">
                  designation is required.
                </div>
                <div *ngIf="fp.designation.errors.minlength">designation must be at least 6 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Department</label>
              <select class="form-control" formControlName="department" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.department.errors }">
                <option>
                  Choose Department
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.department.errors" class="invalid-feedback">
                <div ngClass="fp.department.errors.required">
                  department is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Grade</label>
              <input type="text" class="form-control" formControlName="grade" placeholder="e.g Manager" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.grade.errors}">
              <div *ngIf="personalInfoSubmitted && fp.grade.errors" class="invalid-feedback">
                <div ngClass="fp.grade.errors.required">
                  grade is required.
                </div>
                <div *ngIf="fp.grade.errors.minlength">grade must be at least 6 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">User Type</label>
              <select class="form-control" formControlName="userType" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.userType.errors }">
                <option>
                  Choose User Type
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.userType.errors" class="invalid-feedback">
                <div ngClass="fp.userType.errors.required">
                  user Type is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">User Role</label>
              <select class="form-control" formControlName="userRole" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.userRole.errors }">
                <option>
                  Choose User Role
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.userRole.errors" class="invalid-feedback">
                <div ngClass="fp.userRole.errors.required">
                  user Role is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <div class="form-group">
              <label class="required">Procurement Agency</label>
              <select class="form-control" formControlName="procurementAgency" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.procurementAgency.errors }">
                <option>
                  Choose Procurement Agency
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.procurementAgency.errors" class="invalid-feedback">
                <div ngClass="fp.procurementAgency.errors.required">
                  procurement Agency is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Wing</label>
              <select class="form-control" formControlName="wing" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.wing.errors }">
                <option>
                  Choose Wing
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.wing.errors" class="invalid-feedback">
                <div ngClass="fp.wing.errors.required">
                  wing is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Date of Birth</label>
              <input type="date" class="form-control" formControlName="dob" placeholder="e.g dd/mm/yyyy" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.dob.errors}">
              <div *ngIf="personalInfoSubmitted && fp.dob.errors" class="invalid-feedback">
                <div ngClass="fp.dob.errors.required">
                  dob is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="e.g someone@email.com" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.email.errors}">
              <div *ngIf="personalInfoSubmitted && fp.email.errors" class="invalid-feedback">
                <div ngClass="fp.email.errors.required">
                  email is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">CNIC</label>
              <input type="number" class="form-control" formControlName="cnic" placeholder="e.g 32956-6748494-5" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.cnic.errors}">
              <div *ngIf="personalInfoSubmitted && fp.cnic.errors" class="invalid-feedback">
                <div ngClass="fp.cnic.errors.required">
                  cnic is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Phone</label>
              <div class="row">
                <div class="col-sm-4">
                  <select class="form-control" formControlName="phoneService" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.phoneService.errors }">
                    <option>
                      Choose Network
                    </option>
                  </select>
                  <div *ngIf="personalInfoSubmitted && fp.phoneService.errors" class="invalid-feedback">
                    <div ngClass="fp.phoneService.errors.required">
                      phone Service is required.
                    </div>
                  </div>
                </div>
                <div class="col-sm-8">
                  <input type="number" class="form-control" formControlName="phoneNumber" placeholder="e.g 0300-6748494" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.phoneNumber.errors}">
                  <div *ngIf="personalInfoSubmitted && fp.phoneNumber.errors" class="invalid-feedback">
                    <div ngClass="fp.phoneNumber.errors.required">
                      phone Number is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="steps-btn row mt-4">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-green" (click)="address()">Next <i class="fas fa-long-arrow-right"></i></button>
          </div>
        </div>
      </form>
    </div>

    <!--Address Information-->
    <div *ngIf="showAddressInfoForm">
      <form class="step2" [formGroup]="addressInformation" autocomplete="off">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label class="required">Address Line 1</label>
              <input type="text" class="form-control" formControlName="addressLine1" placeholder="e.g Usman" [ngClass]="{ 'is-invalid': addressSubmitted && fa.addressLine1.errors}">
              <div *ngIf="addressSubmitted && fa.addressLine1.errors" class="invalid-feedback">
                <div ngClass="fa.addressLine1.errors.required">
                  address Line 1 is required.
                </div>
                <div *ngIf="fa.addressLine1.errors.minlength">address Line 1 must be at least 6 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label>Address Line 2</label>
              <input type="text" class="form-control" formControlName="addressLine2" placeholder="Street or road" [ngClass]="{ 'is-invalid': addressSubmitted && fa.addressLine2.errors}">
              <div *ngIf="addressSubmitted && fa.addressLine2.errors" class="invalid-feedback">
                <div ngClass="fa.addressLine2.errors.required">
                  address Line 1 is required.
                </div>
                <div *ngIf="fa.addressLine2.errors.minlength">address Line 1 must be at least 6 characters</div>
              </div>
            </div>



            <div class="form-group">
              <label class="required">City</label>
              <select class="form-control" formControlName="city" [ngClass]="{ 'is-invalid': addressSubmitted && fa.city.errors}">
                <option>
                  e.g. Islamabad
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.city.errors" class="invalid-feedback">
                <div ngClass="fa.city.errors.required">
                  city is required.
                </div>
              </div>
            </div>



            <div class="form-group">
              <label>Zip or Postal Code</label>
              <input type="text" class="form-control" formControlName="zipCode" placeholder="Enter postal code" [ngClass]="{ 'is-invalid': addressSubmitted && fa.zipCode.errors}">
              <div *ngIf="addressSubmitted && fa.zipCode.errors" class="invalid-feedback">
                <div ngClass="fa.zipCode.errors.required">
                  Postal Code is required
                </div>
                <div *ngIf="fa.zipCode.errors.minlength">address Line 1 must be at least 6 characters</div>
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <div class="form-group">
              <label class="required">Country</label>
              <select class="form-control" formControlName="country" [ngClass]="{ 'is-invalid': addressSubmitted && fa.country.errors}">
                <option>
                  e.g. Pakistan
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.country.errors" class="invalid-feedback">
                <div ngClass="fa.country.errors.required">
                  Country is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Province</label>
              <select class="form-control" formControlName="province" [ngClass]="{ 'is-invalid': addressSubmitted && fa.province.errors}">
                <option>
                  e.g. Punjab
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.province.errors" class="invalid-feedback">
                <div ngClass="fa.province.errors.required">
                  Province is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">District</label>
              <select class="form-control" formControlName="district" [ngClass]="{ 'is-invalid': addressSubmitted && fa.district.errors}">
                <option>
                  e.g. Rawalpindi
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.district.errors" class="invalid-feedback">
                <div ngClass="fa.district.errors.required">
                  District is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Tehsil</label>
              <select class="form-control" formControlName="tehsil" [ngClass]="{ 'is-invalid': addressSubmitted && fa.tehsil.errors}">
                <option>
                  e.g. Rawalpindi
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.tehsil.errors" class="invalid-feedback">
                <div ngClass="fa.tehsil.errors.required">
                  Tehsil is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="steps-btn row mt-4">
          <div class="col-sm-6">

            <button class="btn btn-light" (click)="previousAddress()"><i class="fas fa-long-arrow-left"></i> Previous </button>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-green" (click)="uploadDocuments()">Next <i class="fas fa-long-arrow-right"></i></button>
          </div>

        </div>
      </form>
    </div>

    <div *ngIf="showDocumentUploadInfoForm">
      <form class="step3 mt-3 mb-3" [formGroup]="uploadDocumentInformation" autocomplete="off">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="required">Document Type</label>
              <select class="form-control" formControlName="documentType" [ngClass]="{ 'is-invalid': documentSubmitted && fd.documentType.errors}">
                <option>
                  e.g. NTN
                </option>
              </select>
              <div *ngIf="documentSubmitted && fd.documentType.errors" class="invalid-feedback">
                <div ngClass="fd.documentType.errors.required">
                  Document type is required.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="required">Document Name</label>
              <input type="text" class="form-control" formControlName="documentName"  placeholder="Enter name of the document" [ngClass]="{ 'is-invalid': documentSubmitted && fd.documentName.errors}">
              <div *ngIf="documentSubmitted && fd.documentName.errors" class="invalid-feedback">
                <div ngClass="fd.documentName.errors.required">
                  document name is required.
                </div>
                <div *ngIf="fd.documentName.errors.minlength">must be at least 6 characters</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group files color">
              <input type="file" class="form-control" multiple="">
            </div>

            <div class="form-group uploading position-relative">
              <div class="btns">
                <i class="fas fa-pause-circle"></i>
                <i class="fas fa-minus-circle text-danger"></i>
              </div>
              <h5>Uploading</h5>
              <p>68% . 12 Seconds remaining</p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25"
                     aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="form-group  uploading uploded position-relative">
              <div class="d-flex justify-content-between align-items-center">
                <h6>NIC_front.jpg</h6>
                <span class="size">14 mb <i class="fas fa-close"></i></span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <h6>NIC_front.jpg</h6>
                <span class="size">14 mb <i class="fas fa-close"></i></span>
              </div>

              <div class="d-flex bg-danger justify-content-between align-items-center mb-0">
                <h6>NIC_front.jpg</h6>
                <span class="size">14 mb <i class="fas fa-close"></i></span>
              </div>


            </div>
          </div>
        </div>

        <div class="steps-btn row mt-4">
          <div class="col-sm-6">

            <button class="btn btn-light" (click)="previousUploadDocuments()"><i class="fas fa-long-arrow-left"></i> Previous </button>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-green" (click)="nextSave()">Next <i class="fas fa-long-arrow-right"></i></button>
          </div>

        </div>
      </form>
    </div>

  </div>
</div>

