<div class="bg-login">
  <div class="login-wrap text-center">

    <div class="w-100">
      <img src="../../../assets/images/logo.svg" alt="" />
      <h3>Welcome Back</h3>
      <p>Please enter your credentials below</p>
    </div>
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">

      <div class="form-group mb-3">
        <label class="label" for="name">Email</label>
        <input type="email" class="form-control" placeholder="someOne@gmail.com" formControlName='email' [ngClass]="{ 'is-invalid': submitted && f.email.errors}" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div ngClass="f.email.errors.required"> Email is required. </div>
          <div *ngIf="f.email.errors.email">Enter Valid Email</div>
        </div>
      </div>

      <div class="form-group mb-4">
        <label class="label" for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div ngClass="f.password.errors.required">
            Password is required.
          </div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <br>

      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Login</button>
      </div>

    </form>


  </div>
</div>

