.bg-login {
  background: #11386f;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-wrap {
  background: #ffffff;
  box-shadow: 0px 3px 6px #3330303b;
  border-radius: 4px;
  padding: 20px 100px;
  box-sizing: border-box;
  max-width: 600px;
  width: 100%;
}
