<footer class="main-footer">
  <div class="float-right d-none d-sm-block">
    <b>Version</b> 1.0.0.0
  </div>
  <strong>Copyright &copy; 2021 <a href="https://www.ppra.org.pk">PPRA</a>.</strong> All rights
  reserved.
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->

</aside>
<!-- /.control-sidebar -->
