a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 18px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

header {
  background-color: #11386f;
  color: #fff;
}

header .center-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.center-text h1 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.center-text h3 {
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.box-shadow-custom {
  box-shadow: 0 3px 10px #11386f50;
}
