<section class="ftco-section container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="col-md-6 align-items-center d-inline-grid">
      <div class="login-wrap text-center">

        <div class="w-100">
          <img src="../../assets/img/logo.jpg" alt="" />
          <h3>Create New Password</h3>
          <p>Please enter your new password</p>
        </div>
        <form [formGroup]="newPasswordForm" class="login-form" (ngSubmit)="createPassword()">
          <div class="form-group mb-3">
            <label class="label" for="name">New Password</label>
            <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
            <span class="text-danger" *ngIf="(f.newPassword.touched || submitted) && f.newPassword.errors?.required">
              Password is required
            </span>
            <span class="text-danger" *ngIf="f.newPassword.touched && f.newPassword.errors?.invalidPassword">
              Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
              letter and 1 number!
            </span>
          </div>
          <div class="form-group mb-3">
            <label class="label" for="password">Confirm New Password</label>
            <input type="password" class="form-control" placeholder="re-enter password" required=""
              formControlName="confirmPassword">
            <span class="text-danger"
              *ngIf="(f.confirmPassword.touched || submitted) && f.confirmPassword.errors?.required">
              Password is required
            </span>
            <span class="text-danger" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors?.passwordMismatch">
              Passwords doesn't match
            </span>
          </div>

          <div class="form-group">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Create Password</button>
          </div>

        </form>
        <p class="text-center color-black">Go back to login page</p>
      </div>
    </div>
    <div class="col-md-6 bg-blue align-items-center d-inline-grid">
      <!-- <app-slider></app-slider> -->

    </div>
  </div>
</section>