<!-- <div class="registration d-flex">
  <div class="steps">
    <div class="steps-wrap">
      <ul class="list-unstyled">
        <li class="{{contactInfoClass}}">
          <div class="icons">
            <i class="fas fa-user"></i>
          </div>
          <div class="step-text">
            <span class="small">Step 1</span>
            <strong>Contact Information</strong>
          </div>
        </li>
        <li class="{{addressClass}}">
          <div class="icons">
            <i class="fas fa-map-marker"></i>
          </div>
          <div class="step-text">
            <span class="small">Step 2</span>
            <strong>Address</strong>
          </div>
        </li>
        <li class="{{documentsClass}}">
          <div class="icons">
            <i class="fas fa-file"></i>
          </div>
          <div class="step-text">
            <span class="small">Step 3</span>
            <strong>Documents</strong>
          </div>
        </li>
      </ul>

    </div>
    <div class="progress-main">
      <label>{{progressBar}} Progress</label>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" [style.width]="progressBar" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="showPersonalInfoForm">

      <h3>Please provide your personal information</h3>
      <form class="step1" [formGroup]="personalInformation" autocomplete="off">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label class="required">First Name</label>
              <input maxlength="51" type="text" class="form-control" formControlName="firstName" placeholder="e.g Usman"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.firstName.errors}">
              <div *ngIf="personalInfoSubmitted && fp.firstName.errors" class="invalid-feedback">
                <div *ngIf="fp.firstName.errors.required">
                  First name is required.
                </div>
                <div *ngIf="fp.firstName.errors.minlength">Username must be at least 6 characters</div>
                <div *ngIf="fp.firstName.errors.maxlength">Username must not be greater than 50 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Last Name</label>
              <input type="text" maxlength="51" class="form-control" formControlName="lastName" placeholder="e.g Usman"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.lastName.errors}">
              <div *ngIf="personalInfoSubmitted && fp.lastName.errors" class="invalid-feedback">
                <div *ngIf="fp.lastName.errors.required">
                  Last name is required.
                </div>
                <div *ngIf="fp.lastName.errors.minlength">Last name must be at least 6 characters</div>
                <div *ngIf="fp.lastName.errors.maxlength">Username must not be greater than 50 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Designation</label>
              <input type="text" maxlength="51" class="form-control" formControlName="designation"
                placeholder="e.g Manager" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.designation.errors}">
              <div *ngIf="personalInfoSubmitted && fp.designation.errors" class="invalid-feedback">
                <div *ngIf="fp.designation.errors.required">
                  Designation is required.
                </div>
                <div *ngIf="fp.designation.errors.minlength">Designation must be at least 6 characters</div>
                <div *ngIf="fp.designation.errors.maxlength">Designation must not be greater than 50 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label class="required">Grade</label>
              <input type="text" maxlength="31" class="form-control" formControlName="grade" placeholder="e.g Manager"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.grade.errors}">
              <div *ngIf="personalInfoSubmitted && fp.grade.errors" class="invalid-feedback">
                <div *ngIf="fp.grade.errors.required">
                  Grade is required.
                </div>
                <div *ngIf="fp.grade.errors.minlength">Grade must be at least 6 characters</div>
                <div *ngIf="fp.grade.errors.maxlength">Grade must not be greater than 30 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">User Type</label>
              <select class="form-control" formControlName="userType"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.userType.errors }">
                <option>
                  Choose User Type
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.userType.errors" class="invalid-feedback">
                <div *ngIf="fp.userType.errors.required">
                  User Type is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">User Role</label>
              <select class="form-control" formControlName="userRole"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.userRole.errors }">
                <option>
                  Choose User Role
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.userRole.errors" class="invalid-feedback">
                <div *ngIf="fp.userRole.errors.required">
                  User Role is required.
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">
            <div class="form-group" *ngIf="IsfromProcuring">
              <label class="required">Procurement Agency</label>
              <select class="form-control" formControlName="procurementAgency"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.procurementAgency.errors }">
                <option>
                  Choose Procurement Agency
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.procurementAgency.errors" class="invalid-feedback">
                <div *ngIf="fp.procurementAgency.errors.required">
                  Procurement Agency is required.
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="IsfromRegulatory">
              <label class="required">Regularity Body</label>
              <select class="form-control">
                <option>
                  FPPRA
                </option>
                <option>
                  PPRA
                </option>
                <option>
                  BPPRA
                </option>
              </select>
            </div>

            <div class="form-group" *ngIf="IsfromMinistry">
              <label class="required">Ministry</label>
              <select class="form-control">
                <option>
                  FPPRA
                </option>
                <option>
                  PPRA
                </option>
                <option>
                  BPPRA
                </option>
              </select>
            </div>

            <div class="form-group">
              <label class="required">Wing</label>
              <select class="form-control" formControlName="wing"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.wing.errors }">
                <option>
                  Choose Wing
                </option>
              </select>
              <div *ngIf="personalInfoSubmitted && fp.wing.errors" class="invalid-feedback">
                <div ngClass="fp.wing.errors.required">
                  Wing is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Date of Birth</label>
              <input type="date" class="form-control" formControlName="dob" placeholder="e.g dd/mm/yyyy"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.dob.errors}">
              <div *ngIf="personalInfoSubmitted && fp.dob.errors" class="invalid-feedback">
                <div ngClass="fp.dob.errors.required">
                  DOB is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Email</label>
              <input type="email" maxlength="101" class="form-control" formControlName="email"
                placeholder="e.g someone@email.com"
                [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.email.errors}">
              <div *ngIf="personalInfoSubmitted && fp.email.errors" class="invalid-feedback">
                <div *ngIf="fp.email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="fp.email.errors.maxlength">Email must not be greater than 100 characters</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">CNIC</label>
              <input type="text" class="form-control" formControlName="cnic" [textMask]="{mask: cnicMask}"
                placeholder="_____-_______-_" [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.cnic.errors}">
              <div *ngIf="personalInfoSubmitted && fp.cnic.errors" class="invalid-feedback">
                <div ngClass="fp.cnic.errors.required">
                  CNIC is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Phone</label>
              <div class="row">
                <div class="col pr-0">
                  <select class="form-control" formControlName="phoneService"
                    [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.phoneService.errors }">
                    <option>
                      Choose Network
                    </option>
                  </select>
                  <div *ngIf="personalInfoSubmitted && fp.phoneService.errors" class="invalid-feedback">
                    <div ngClass="fp.phoneService.errors.required">
                      Phone Service is required.
                    </div>
                  </div>
                </div>
                <div class="col pr-0">
                  <input type="text" class="form-control" formControlName="phoneNumber" [textMask]="{mask: phoneMask}"
                    placeholder="+92-300-1122334"
                    [ngClass]="{ 'is-invalid': personalInfoSubmitted && fp.phoneNumber.errors}">
                  <div *ngIf="personalInfoSubmitted && fp.phoneNumber.errors" class="invalid-feedback">
                    <div ngClass="fp.phoneNumber.errors.required">
                      Phone Number is required.
                    </div>
                  </div>
                </div>

                <div class="col">
                  <input type="button" class="form-control" value="Gernate OTP">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="required">Email OTP</label>
              <div class="row">
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Phone Number OTP</label>
              <div class="row">
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
                <div class="col-sm-3">
                  <input type="text" class="form-control" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="steps-btn row mt-4">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-green" (click)="address()">Next <i class="fas fa-long-arrow-right"></i></button>
          </div>
        </div>

      </form>
    </div>
    <div *ngIf="showAddressInfoForm">
      <form class="step2" [formGroup]="addressInformation" autocomplete="off">
        <div class="row">
          <div class="col-sm-5">
            <div class="form-group">
              <label class="required">Address Line 1</label>
              <div class="row">
                <div class="col pr-0 col-sm-3">
                  <input type="text" maxlength="7" class="form-control" formControlName="house" placeholder="House #"
                    [ngClass]="{ 'is-invalid': addressSubmitted && fa.house.errors}">
                  <div *ngIf="addressSubmitted && fa.house.errors" class="invalid-feedback">
                    <div *ngIf="fa.house.errors.required">
                      House number is required.
                    </div>
                    <div *ngIf="fa.house.errors.maxlength">
                      House number can not have more than 6 digits.
                    </div>
                  </div>
                </div>

                <div class="col pr-0 col-sm-3">
                  <input type="text" maxlength="7" class="form-control" formControlName="street" placeholder="Street #"
                    [ngClass]="{ 'is-invalid': addressSubmitted && fa.street.errors}">
                  <div *ngIf="addressSubmitted && fa.street.errors" class="invalid-feedback">
                    <div *ngIf="fa.street.errors.required">
                      treet number is required.
                    </div>
                    <div *ngIf="fa.street.errors.maxlength">
                      Street number can not have more than 6 digits.
                    </div>
                  </div>
                </div>

                <div class="col col-sm-6">
                  <input type="text" maxlength="7" class="form-control" formControlName="block" placeholder="Block #"
                    [ngClass]="{ 'is-invalid': addressSubmitted && fa.block.errors}">
                  <div *ngIf="addressSubmitted && fa.block.errors" class="invalid-feedback">
                    <div *ngIf="fa.block.errors.required">
                      Block number is required.
                    </div>
                    <div *ngIf="fa.block.errors.maxlength">
                      Block number can not have more than 6 digits.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Address Line 2</label>
              <input type="text" maxlength="201" class="form-control" formControlName="addressLine2"
                placeholder="Street or road" [ngClass]="{ 'is-invalid': addressSubmitted && fa.addressLine2.errors}">
              <div *ngIf="addressSubmitted && fa.addressLine2.errors" class="invalid-feedback">
                <div *ngIf="fa.addressLine2.errors.required">
                  Address Line 2 is required.
                </div>
                <div *ngIf="fa.addressLine2.errors.minlength">Address Line 2 must be at least 6 characters.</div>
                <div *ngIf="fa.addressLine2.errors.maxlength">Address Line 2 can not have more than 200 digits.</div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Country</label>
              <select class="form-control" formControlName="country"
                [ngClass]="{ 'is-invalid': addressSubmitted && fa.country.errors}">
                <option>
                  e.g. Pakistan
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.country.errors" class="invalid-feedback">
                <div ngClass="fa.country.errors.required">
                  Province is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Province</label>
              <select class="form-control" formControlName="province"
                [ngClass]="{ 'is-invalid': addressSubmitted && fa.province.errors}">
                <option>
                  e.g. Punjab
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.province.errors" class="invalid-feedback">
                <div ngClass="fa.province.errors.required">
                  Province is required.
                </div>
              </div>
            </div>



          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5">


            <div class="form-group">
              <label class="required">District</label>
              <select class="form-control" formControlName="district"
                [ngClass]="{ 'is-invalid': addressSubmitted && fa.district.errors}">
                <option>
                  e.g. Rawalpindi
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.district.errors" class="invalid-feedback">
                <div ngClass="fa.district.errors.required">
                  District is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">City</label>
              <select class="form-control" formControlName="city"
                [ngClass]="{ 'is-invalid': addressSubmitted && fa.city.errors}">
                <option>
                  e.g. Islamabad
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.city.errors" class="invalid-feedback">
                <div ngClass="fa.city.errors.required">
                  city is required.
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="required">Tehsil</label>
              <select class="form-control" formControlName="tehsil"
                [ngClass]="{ 'is-invalid': addressSubmitted && fa.tehsil.errors}">
                <option>
                  e.g. Rawalpindi
                </option>
              </select>
              <div *ngIf="addressSubmitted && fa.tehsil.errors" class="invalid-feedback">
                <div ngClass="fa.tehsil.errors.required">
                  Tehsil is required.
                </div>
              </div>
            </div>


            <div class="form-group">
              <label>Zip or Postal Code</label>
              <input type="text" maxlength="11" class="form-control" formControlName="zipCode"
                placeholder="Enter postal code" [ngClass]="{ 'is-invalid': addressSubmitted && fa.zipCode.errors}">
              <div *ngIf="addressSubmitted && fa.zipCode.errors" class="invalid-feedback">
                <div *ngIf="fa.zipCode.errors.required">
                  Postal Code is required
                </div>
                <div *ngIf="fa.zipCode.errors.maxlength">
                  Postal Code can not have more than 10 characters.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="steps-btn row mt-4">
          <div class="col-sm-6">

            <button class="btn btn-light" (click)="previousAddress()"><i class="fas fa-long-arrow-left"></i> Previous
            </button>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-green" (click)="uploadDocuments()">Next <i
                class="fas fa-long-arrow-right"></i></button>
          </div>

        </div>
      </form>
    </div>

    <div *ngIf="showDocumentUploadInfoForm">

      <form class="step3 mt-3 mb-3" [formGroup]="uploadDocumentInformation" autocomplete="off">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required">Document Type</label>
              <select class="form-control" formControlName="documentType"
                [ngClass]="{ 'is-invalid': documentSubmitted && fd.documentType.errors}">
                <option>
                  e.g. NTN
                </option>
              </select>
              <div *ngIf="documentSubmitted && fd.documentType.errors" class="invalid-feedback">
                <div ngClass="fd.documentType.errors.required">
                  Document type is required.
                </div>
              </div>
            </div>


            <div class="form-group">
              <label class="required">Document Name</label>
              <input type="text" class="form-control" formControlName="documentName"
                placeholder="Enter name of the document"
                [ngClass]="{ 'is-invalid': documentSubmitted && fd.documentName.errors}">
              <div *ngIf="documentSubmitted && fd.documentName.errors" class="invalid-feedback">
                <div ngClass="fd.documentName.errors.required">
                  document name is required.
                </div>
                <div *ngIf="fd.documentName.errors.minlength">must be at least 6 characters</div>
              </div>
            </div>

            <div class="form-group files color">
              <input type="file" class="form-control" multiple="">
            </div>

            <div class="form-group uploading position-relative">
              <div class="btns">
                <i class="fas fa-pause-circle"></i>
                <i class="fas fa-minus-circle text-danger"></i>
              </div>
              <h5>Uploading</h5>
              <p>68% . 12 Seconds remaining</p>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="form-group  uploading uploded position-relative">
              <div class="d-flex justify-content-between align-items-center">
                <h6>NIC_front.jpg</h6>
                <span class="size">14 mb <i class="fas fa-close"></i></span>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <h6>NIC_front.jpg</h6>
                <span class="size">14 mb <i class="fas fa-close"></i></span>
              </div>

              <div class="d-flex bg-danger justify-content-between align-items-center mb-0">
                <h6>NIC_front.jpg</h6>
                <span class="size">14 mb <i class="fas fa-close"></i></span>
              </div>


            </div>
          </div>

        </div>



        <div class="steps-btn row mt-4">
          <div class="col-sm-6">

            <button class="btn btn-light" (click)="previousUploadDocuments()"><i class="fas fa-long-arrow-left"></i>
              Previous </button>
          </div>
          <div class="col-sm-6 text-right">
            <button class="btn btn-green" (click)="nextSave()">Next<i class="fas fa-long-arrow-right"></i></button>
          </div>

        </div>
      </form>
    </div>
    <div *ngIf="showCongratForm">
      <form class="step4 mt-3 mb-3" autocomplete="off">

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <div class="col-sm-6 congratulations">
                <h3>Congratulations!</h3>
                <p>You have been registered</p>
                <button routerLink="/" class="btn btn-outline-blue">Login to your account</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->

<body class="register-page background-image" style="min-height: 570.8px;">
  <div class="register-box">
    <div class="register-logo">
      <img src="../../../assets/img/logo.svg">
      <a class="ml-2"><b>PPRA</b></a>
    </div>

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Register a new membership</p>

        <form action="../../index.html" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Full name">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Retype password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <label for="agreeTerms">

                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <a href="/login" class="text-center">I already have a membership</a>
      </div>
    </div>
  </div>
</body>