.steps {
  width: 320px;
  border-right: 1px solid #cccccc;
}

.content {
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}

.registration {
  min-height: calc(100vh - 86px);
}

  h3 {
    color: #0b9371;
    font-size: 18px;
  }

label.required:before {
  content: "*";
  color: red;
  padding-right: 5px;
}

.steps {
  padding: 21px;
  padding-top: 75px;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  margin: 9px 0;
  padding-bottom: 50px;
  font-size: 18px;
  color: #7d7d7d;
  font-weight: 500;
  position: relative;
}

  .step .icons {
    border: 1px solid #7d7d7d;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 36px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .step .small {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
  }

.steps .icons:after {
  content: "";
  position: absolute;
  width: 4px;
  background: #7d7d7d;
  bottom: -54px;
  height: 100%;
  border-radius: 17px;
}

.step:last-child .icons:after {
  content: none;
}

.step.active .icons {
  background: #11386f;
  color: #fff;
  box-shadow: 0px 0px 0px 3px #fff inset;
}

.progress-main {
  position: absolute;
  bottom: 22px;
  width: 70%;
}

  .progress-main label {
    font-size: 20px;
    font-weight: 700;
    color: #11386f;
  }

.progress-bar.bg-success {
  background: #0b9371 !important;
  border-radius: 22px;
}

.progress {
  border-radius: 18px;
}

.content {
  background-position: bottom;
  background-repeat: no-repeat;
}

.content {
  padding: 20px 25px;
}

.form-group input[type="button"] {
  color: #11386f;
  border: 1px solid;
  font-weight: 500;
}

.otp .form-control {
  width: 66px;
}

.btn-green {
  background: #0b9371;
  color: #fff;
}

.step.completed .icons {
  background-color: #0b9371;
}

.step.completed i:before {
  content: "\f00c";
  color: #fff;
}

/* Files Upload Area */

.files input {
  padding: 0 0px 100px;
  width: 100% !important;
}

.files {
  position: relative;
  background: #0b937121;
  border: 2px dashed #0b9371;
  border-radius: 5px;
}

.color input {
  opacity: 0;
}

.files:before {
  position: absolute;
  bottom: 20px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: "Drop your file(s) here or browse";
  display: block;
  margin: 0 auto;
  color: #7d7d7d;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.files:after {
  content: "PDF, JPEG, DOC (max. file size 5 Mb)";
  font-size: 12px;
  color: #7d7d7d;
  position: absolute;
  bottom: 32px;
  width: 100%;
  text-align: center;
}

.uploading {
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  padding: 14px 15px;
}

  .uploading h5 {
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 5px;
  }

  .uploading p {
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 10px;
  }

  .uploading .progress {
    height: 6px;
  }

.btns {
  position: absolute;
  right: 9px;
  top: 5px;
}

  .btns i {
    margin-left: 5px;
    cursor: pointer;
    font-size: 18px;
  }

.uploded h6 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

.uploded .bg-danger {
  background: #c9111121 !important;
  border-radius: 6px;
  padding: 3px 1px;
}

.uploded {
  font-size: 14px;
}

  .uploded .bg-danger i {
    color: red;
  }

  .uploded .d-flex {
    margin-bottom: 8px;
  }
