
<div class="content">
  <h3>Please provide your personal information</h3>
  <form [formGroup]="regulatoryBodyRegistrationForm" autocomplete="off">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="required">Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="e.g Ppra" [ngClass]="{ 'is-invalid': InfoSubmitted && f.name.errors}">
          <div *ngIf="InfoSubmitted && f.name.errors" class="invalid-feedback">
            <div ngClass="f.name.errors.required">
              first name is required.
            </div>
            <div *ngIf="f.name.errors.minlength">username must be at least 6 characters</div>
          </div>
        </div>

        <div class="form-group">
          <label class="required">Code</label>
          <input type="text" class="form-control" formControlName="code" placeholder="" [ngClass]="{ 'is-invalid': InfoSubmitted && f.code.errors}">
          <div *ngIf="InfoSubmitted && f.code.errors" class="invalid-feedback">
            <div ngClass="f.code.errors.required">
              last name is required.
            </div>
            <div *ngIf="f.code.errors.minlength">last name must be at least 6 characters</div>
          </div>

        </div>

        <div class="form-group">
          <label class="required">Province</label>
          <select class="form-control" formControlName="province" [ngClass]="{ 'is-invalid': InfoSubmitted && f.province.errors }">
            <option>
              e g Pubjab
            </option>
          </select>
          <div *ngIf="InfoSubmitted && f.province.errors" class="invalid-feedback">
            <div ngClass="f.province.errors.required">
              department is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="required">Logo</label>
          <input type="file" class="form-control" formControlName="file" placeholder="e.g someone@email.com" [ngClass]="{ 'is-invalid': InfoSubmitted && f.email.errors}">
          <div *ngIf="InfoSubmitted && f.email.errors" class="invalid-feedback">
            <div ngClass="f.email.errors.required">
              email is required.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">WebSite</label>
          <input type="text" class="form-control" formControlName="website" placeholder="e.g www.test.com." [ngClass]="{ 'is-invalid': InfoSubmitted && f.website.errors}">
          <div *ngIf="InfoSubmitted && f.website.errors" class="invalid-feedback">
            <div ngClass="f.website.errors.required">
              cnic is required.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="steps-btn row mt-4">
      <div class="col-sm-6"></div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-green" (click)="save()">Next <i class="fas fa-long-arrow-right"></i></button>
      </div>
    </div>
  </form>
</div>



