<aside class="main-sidebar sidebar-dark control-sidebar-dark sidebar-dark-olive elevation-4">
  <a href="index3.html" class="brand-link">
    <img src="assets/img/ppra-logo.png" alt="PPRA Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">PPRA</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a style="cursor: pointer;" (click)="redirectToHome()" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>