<!-- <section class="ftco-section container-fluid  h-100">
  <div class="row justify-content-center  h-100">
    <div class="col-md-6 d-inline-grid align-items-center">
      <div class="login-wrap text-center">

        <div class="w-100">
          <img src="../../assets/img/logo.jpg" alt="" />
          <h3>Forgot Password?</h3>
          <p>Please enter your email address below</p>
        </div>
        <form class="login-form" [formGroup]="forgotForm" autocomplete="off" (ngSubmit)="login();">
          <div class="form-group mb-3">
            <label class="label" for="name">Email</label>
            <input type="email" class="form-control" placeholder="someOne@gmail.com" formControlName='email'
              [ngClass]="{ 'is-invalid': submitted && f.email.errors}" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div ngClass="f.email.errors.required"> email is required. </div>
              <div *ngIf="f.email.errors.email">enter valid email</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control btn btn-primary rounded submit px-3">Send Reset Link</button>
          </div>

        </form>
        <p class="text-center color-black">Go back to login page</p>
      </div>
    </div>
    <div class="col-md-6 bg-blue d-inline-grid align-items-center">
      <app-slider></app-slider>

    </div>
  </div>
</section> -->
<div class="login-page background-image" style="min-height: 332.8px;">
  <div class="login-box">
    <div class="login-logo">
      <img src="../../../assets/img/logo.svg">
      <a class="ml-2"><b>PPRA</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

        <form [formGroup]="forgotForm" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName='email'
              [ngClass]="{ 'is-invalid': submitted && f.email.errors}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div *ngIf="submitted && f.email.errors.required" class="invalid-feedback">
              <div ngClass="f.email.errors.required"> Email is required. </div>
            </div>
            <div *ngIf="submitted && f.email.errors.email" class="invalid-feedback">
              <div *ngIf="f.email.errors.email">Enter valid email.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" (click)="forgotPassword()" class="btn btn-primary btn-block">Request new
                password</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mt-3 mb-1">
          <a href="/login">Login</a>
        </p>
        <p class="mb-0">
          <a href="/internal-user-registration" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->



</div>