.login-slider {
  h3 {
    font-size: 24px;
    font-weight: 600;
    position: relative;

    &::after {
      content: "";
      bottom: -9px;
      height: 4px;
      background: #ffcd24;
      position: absolute;
      left: 0;
      width: 152px;
      border-radius: 5px;
    }
  }

  .bg-slider {
    background: #00204e;
    padding: 18px 25px;
    border-radius: 4px;
    margin-top: 27px;

    .date {
      color: #ebebf2;
      font-size: 14px;
      margin-bottom: 11px;
    }

    img.d-block {
      border-radius: 5px;
      height: 239px;
      margin-bottom: 20px;
      object-fit: cover;
    }

    h5 {
      font-size: 18px;
      color: #ebebf2;
      margin-bottom: 18px;
    }

    p {
      font-size: 14px;
      color: #cccccc;
    }
  }
}

.carousel-control-next,
.carousel-control-prev {
  height: auto;
  display: block;
  bottom: 0px;
  top: auto;
  right: 0;
  left: auto;
  width: auto;
}

.carousel-control-prev {
  right: 26px;
}

.copy {
  width: 100%;
  margin-top: 30px;
}
