<div class="login-slider">
  <h3>News & Updates</h3>

  <div class="bg-slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="date">August 2, 2021</div>
          <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="d-block w-100"
               alt="...">
          <h5>
            Use of standard formats for advertisements becomes mandatory for Goods, Works and Non-consulting Services.
            Request for Expression of Interest (EOI). Proposals for Prequalification.
          </h5>
          <p>
            Use of standard formats for advertisements becomes mandatory for Goods, Works and Non-consulting Services.
            Request for Expression of Interest (EOI). Proposals for Prequalification. Use of standard formats for
            advertisements becomes mandatory for Goods, Works and Non-consulting Services. Request for Expression of
            Interest (EOI). Proposals for Prequalification.
          </p>
        </div>
        <div class="carousel-item">
          <div class="date">August 2, 2021</div>
          <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="d-block w-100"
               alt="...">
          <h5>
            Use of standard formats for advertisements becomes mandatory for Goods, Works and Non-consulting Services.
            Request for Expression of Interest (EOI). Proposals for Prequalification.
          </h5>
          <p>
            Use of standard formats for advertisements becomes mandatory for Goods, Works and Non-consulting Services.
            Request for Expression of Interest (EOI). Proposals for Prequalification. Use of standard formats for
            advertisements becomes mandatory for Goods, Works and Non-consulting Services. Request for Expression of
            Interest (EOI). Proposals for Prequalification.
          </p>
        </div>
        <div class="carousel-item">
          <div class="date">August 2, 2021</div>
          <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" class="d-block w-100"
               alt="...">
          <h5>
            Use of standard formats for advertisements becomes mandatory for Goods, Works and Non-consulting Services.
            Request for Expression of Interest (EOI). Proposals for Prequalification.
          </h5>
          <p>
            Use of standard formats for advertisements becomes mandatory for Goods, Works and Non-consulting Services.
            Request for Expression of Interest (EOI). Proposals for Prequalification. Use of standard formats for
            advertisements becomes mandatory for Goods, Works and Non-consulting Services. Request for Expression of
            Interest (EOI). Proposals for Prequalification.
          </p>
        </div>
      </div>
      <a class="carousel-control-prev" data-target="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" data-target="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </div>

  <div class="copy text-center">Copyright © 2021</div>
</div>
